* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(209, 235, 243);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: none;
  border: none;
  font-size: 2rem;
  color: rgb(106, 170, 184);
}
p {
  padding: 1rem 2rem;
  margin: 0 2.5rem;
  background-color: rgb(48, 48, 255);
  border-radius: 18px;
  color: white;
  font-size: 3.5rem;
  font-weight: bolder;
}
.red {
  color: red;
  font-weight: bolder;
}
.green {
  color: green;
  font-weight: bolder;
}
